extends layout_admin
block content
    h1 学习成绩上传
    form(action='' method='post' enctype='multipart/form-data')
        div.form-group
            label 请上传成绩文件:
            input#files(type='file' name='file')
            br
            button.btn.btn-primary(type='submit') 上传