doctype html
html(lang='en')
    head
        title #{title}
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Bootstrap CSS
        link(rel='stylesheet' href='assets/vendor/bootstrap/css/bootstrap.min.css')
        link(href='../assets/vendor/fonts/circular-std/style.css' rel='stylesheet')
        link(rel='stylesheet' href='assets/libs/css/style.css')
        link(rel='stylesheet' href='assets/vendor/fonts/fontawesome/css/fontawesome-all.css')
        style.
            html,
            body {
                height: 100%;
            }
            body {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                padding-top: 40px;
                padding-bottom: 40px;
            }
    body
        // ==============================================================
        // login page
        // ==============================================================
        .splash-container
            .card
                .card-header.text-center
                    a(href='../index.html')
                        img.logo-img(src='assets/images/mylogo.png' height='50' width='300' alt='logo')
                    //span.splash-description 学生综合测评管理系统
                .card-body
                    form(method='POST' action = '')
                        .form-group
                            input#username.form-control.form-control-lg(type='text' placeholder='用户名' autocomplete='off' name='username')
                        .form-group
                            input#password.form-control.form-control-lg(type='password' placeholder='密码' name='password')
                        .form-group
                            label.custom-control.custom-checkbox
                                input.custom-control-input(type='checkbox')
                                span.custom-control-label 记住我
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') 登录
                .card-footer.bg-white.p-0
                    .card-footer-item.card-footer-item-bordered
                        a.footer-link(href='#') Create An Account
                    .card-footer-item.card-footer-item-bordered
                        a.footer-link(href='#') Forgot Password
        // ==============================================================
        // end login page
        // ==============================================================
        // Optional JavaScript
        script(src='assets/vendor/jquery/jquery-3.3.1.min.js')
        script(src='assets/vendor/bootstrap/js/bootstrap.bundle.js')
    if errors
        ul
            for error in errors
                li!= error.msg

